test/jaxp/javax/xml/jaxp/unittest/validation/CR6740048.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2023 Geo-Studios and/or its affiliates. All rights reserved.
  ~ DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
  ~
  ~ This code is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU General Public License version 2 only, as published
  ~ by the Free Software Foundation. Geo-Studios designates this particular
  ~ file as subject to the "Classpath" exception as provided
  ~ by Geo-Studio in the LICENSE file that accompanied this code.
  ~
  ~ This code is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License version 2 for more details (a copy is
  ~ included in the LICENSE file that accompanied this code).
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ version 2 along with this work; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"><xs:element name="containers"><xs:complexType><xs:sequence><xs:element name="containerInfo"><xs:complexType><xs:all><xs:element name="isJ2EEContainer" type="xs:boolean" minOccurs="0" maxOccurs="1"/><xs:element name="moduleName" type="xs:string" minOccurs="0" maxOccurs="1"/><xs:element name="priority" type="xs:decimal" minOccurs="0" maxOccurs="1"/><xs:element name="classLoadPriority" type="xs:decimal" minOccurs="0" maxOccurs="1"/><xs:element name="fileNames" type="string-listType" minOccurs="0" maxOccurs="1"/><xs:element name="fileExtensions" type="string-listType" minOccurs="0" maxOccurs="1"/><xs:element name="resourceTypes" type="string-listType" minOccurs="0" maxOccurs="1"/><xs:element name="softwareTypes" type="string-listType" minOccurs="0" maxOccurs="1"/><xs:element name="hasGenerator" type="xs:boolean" minOccurs="0" maxOccurs="1"/><xs:element name="hasModuleDetector" type="xs:boolean" minOccurs="0" maxOccurs="1"/><xs:element name="supportsSingleFileUpdate" type="xs:boolean" minOccurs="0" maxOccurs="1"/><xs:element name="supportsLazyStart" type="xs:boolean" minOccurs="0" maxOccurs="1"/><xs:element name="supportingParallelism" type="xs:boolean" minOccurs="0" maxOccurs="1"/><xs:element name="needStartInitially" type="xs:boolean" minOccurs="0" maxOccurs="1"/><xs:element name="forceServiceStart" type="xs:boolean" minOccurs="0" maxOccurs="1"/></xs:all><xs:attribute name="name" type="xs:string" use="required"/></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element><xs:complexType name="string-listType"><xs:sequence><xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:schema>
